/* style.css sheet */

body {
    background: #1F2937;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #E5E7EB;
    margin: 0;
}

a {
    color: #E5E7EB;
    text-decoration: none;
  }

.logo {
    max-width: 250px;  
    height: auto; 
    margin-left: 100px;
}

.header-container {
    color: #E5E7EB;
    display: flex;
    padding: 10px;
    flex-direction: row;
    justify-content:center;
    align-items:center;

}

.header-container div{
    flex: 1 1 auto;

}


.section-one {
    color: white;
    display: flex;
    padding: 10px;
    flex-direction: row;
    justify-content:center;
    align-items: center;
}
.section-one div {
    flex: 1 1 auto;

}

.section-one h1{
    font-weight: bolder;
    font-size: 48px;
    color: #F9FAF8

}

.section-one img{
    max-width: 400px;  
    height: auto; 
    border-style:solid;
    border-width: 5px;
    border-color: #E5E7EB;
    border-radius: 25px;

}

.section-two {
    background-color: #F9FAF8;
    margin: 0;
    color: #1F2937;
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}
.section-two div {
    flex: 1 1 auto;

}

.section-two h1{
    font-weight: bolder;
    font-size: 48px;
    color: #1F2937;
    text-align: center;

}


.section-two-info {
    background-color: #F9FAF8;
    color: #1F2937;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    text-align: center;
    
}

.section-two-info div {
    flex: 1 1 auto;
    padding-left: 15px;

}

.section-two-info img{
    max-width: 150px;  
    height: auto; 
    border-style:solid;
    border-width: 3px;
    border-color: #1F2937;
    border-radius: 25px;

}

.footer {
    background: #1F2937;
}

.copyright {
    text-align: center;
}
